@import url("file:///home/dexter/.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}

window {
  margin: 0px;
  border: 2px solid @color2;
  border-radius: 0px;
  background-color: alpha(@background, 0.9);
}

#input {
  margin: 6px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: @color0;
  color: @foreground;
}

#inner-box {
  margin: 6px;
  background-color: transparent;
}

#outer-box {
  margin: 6px;
  padding: 6px;
  background-color: transparent;
}

#scroll {
  margin: 4px;
}

#text {
  color: @foreground;
}

#entry {
  padding: 6px;
  border-radius: 8px;
}

#entry:selected {
  background-color: @color2;
}

#entry:selected #text {
  color: @background;
  font-weight: bold;
}
