@import url("file:///home/dexter/.cache/wal/colors-waybar.css");
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @color7;
}

#custom-ip,
#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#custom-mic {
    padding: 0 12px;
    margin: 4px 2px;
    border-radius: 8px;
    background-color: @color0;
    color: @color8;
}

#clock {
    background-color: @color10;
    color: @color0;
    font-weight: bold;
}

#custom-ip{
    color: @color7;
}

#network{
    color: @color7;
}

#cpu {
    color: @color7;
}

#memory {
    color: @color7;
}

#pulseaudio,
#custom-mic {
    color: @color7;
}

#pulseaudio.muted,
#custom-mic.muted {
    color: @colour2;
}
